# Ignore Xiaomi Camera repo
/camera/
/firmware/
/sm6225-common-miuicamera
/surya-miuicamera
/lmi-miuicamera
/psyche-miuicamera
nuwa/proprietary/odm/lib64/libailab_rawhdr.so
nuwa/proprietary/odm/lib64/libxmi_high_dynamic_range_cdsp.so
nuwa/proprietary/odm/lib64/libailab_rawhdr.so
